@font-face {
  font-family: JetBrainsMono;
  src: url(fonts/JetBrainsMonoNL-Regular.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: Coolvetica;
  src: url(fonts/coolvetica_rg.otf);
}

h1 {
  font-family: Coolvetica;
  color: rgb(140, 167, 255);
  font-size: 5em;
  font-weight: normal;
}

h2 {
  font-family: Coolvetica;
  color: rgb(106, 136, 236);
  font-size: 4em;
  font-weight: normal;
}

h3 {
  font-family: Coolvetica;
  color: rgb(69, 106, 228);
  font-size: 3em;
  font-weight: normal;
}

p {
  font-family: Coolvetica;
  color: rgb(46, 72, 157);
  font-size: larger;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

/* glowing button styling */
.glow-button {
  background-color: #6a88ec;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
  box-shadow: 0 0 10px #6a88ec, 0 0 20px #6a88ec, 0 0 30px #6a88ec;
}

.glow-button:hover {
  box-shadow: 0 0 20px #5f78d2, 0 0 30px #5f78d2, 0 0 40px #5f78d2;
  transform: scale(1.05);
}

.button-container {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically, if needed */
  height: 100vh; /* makes the container full height of the viewport */
}

/* Modal container (hidden by default) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

/* Close button (X) */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
