@font-face {
  font-family: JetBrainsMono;
  src: url(fonts/JetBrainsMonoNL-Regular.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: Coolvetica;
  src: url(fonts/coolvetica_rg.otf);
}

h1 {
  font-family: Coolvetica;
  color: rgb(140, 167, 255);
  font-size: 5em;
  font-weight: normal;
}

h2 {
  font-family: Coolvetica;
  color: rgb(106, 136, 236);
  font-size: 4em;
  font-weight: normal;
}

h3 {
  font-family: Coolvetica;
  color: rgb(69, 106, 228);
  font-size: 3em;
  font-weight: normal;
}

p {
  font-family: Coolvetica;
  color: rgb(46, 72, 157);
  font-size: larger;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.letterbox {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  background-color: #add8e6;
  margin-left: 0;
  border-radius: 35px;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%;
}

.container {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically (if needed) */
  margin-top: 20px; /* adjusts space between buttons */
}

/* initially hide the container */
.container {
  opacity: 0;
  transform: translateY(50px); /* move it slightly down for a smoother reveal */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* class to show the container when it enters the viewport */
.container.visible {
  opacity: 1;
  transform: translateY(0); /* reset position */
}

.container2 {
  display: flex;
  align-items: center;
}
.container2 div:first-child {
  width: 35%;
  margin-right: 5%;
}
.container2 div:last-child {
  width: 60%;
}

.container2 div:last-child iframe {
  width: 60%; /* Adjust this value as needed */
  margin-left: 10%; /* Center the iframe within its container */
}

/* initially hide the container */
.container2 {
  opacity: 0;
  transform: translateY(50px); /* move it slightly down for a smoother reveal */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* class to show the container when it enters the viewport */
.container2.visible {
  opacity: 1;
  transform: translateY(0); /* reset position */
}

/* style buttons */
.button-container {
  display: inline-block;
  margin: 10px; /* Space between buttons */
}

.button {
  width: 20vw; /* Width relative to viewport width */
  height: 20vw; /* Height relative to viewport width */
  max-width: 540px; /* Limit maximum width */
  max-height: 540px; /* Limit maximum height */
  background-color: lightblue;
  border: none;
  border-radius: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #add8e6, 0 0 30px #add8e6, 0 0 40px #add8e6;
}

.button img {
  max-width: 90%; /* Ensure image doesn't overflow */
  max-height: 90%; /* Ensure image doesn't overflow */
  object-fit: contain; /* Maintain aspect ratio */
}

ol {
  font-family: Coolvetica;
  font-size: larger;
}
